name: Deploy on Heroku

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  HerokuDeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          branch: "main"
          usedocker: true
          docker_build_args: |
            NODE_ENV
            JWT_SECRET
            POSTGRES_USERNAME
            POSTGRES_PASSWORD
            POSTGRES_HOST
            POSTGRES_PORT
            POSTGRES_DATABASE
            DATABASE_URL
        env:
          NODE_ENV: production
          JWT_SECRET: ${JWT_SECRET}
          POSTGRES_USERNAME: ${POSTGRES_USERNAME}
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRES_HOST: ${POSTGRES_HOST}
          POSTGRES_PORT: ${POSTGRES_PORT}
          POSTGRES_DATABASE: ${POSTGRES_DATABASE}
          DATABASE_URL: ${DATABASE_URL}
